<h1><%= @question.subject %></h1>

<h2> Your Question:</h2>
<p> <%= @question.content %> </p>



<%#= link_to("Close Question", questions_qna_path(params[:id], params[:student_id]), {:method => :put, :confirm => "Are you sure?"}) %>
<% if @question.open? %>
	<%= simple_form_for(@question) do |f| %>
		<%= f.input :open, as: :hidden, :input_html => { :value => false } %>
		<%= f.button :submit,"CLOSE QUESTION", :confirm => "Are you sure you want to close the question? By doing so, tutors can no longer answer this question." %>
	<% end %>
<% else %>
	Question closed
<% end %>

<br></br>
<% if @answers_to_question.any? %>

<% for answer in @answers_to_question %>

<% tutorid = answer.tutor_id %>
<% tutor = Tutor.find_by_id(tutorid) %>
<% answerid = answer.id %>



	<div class = "accordion_menu">
		
		<% if answer.rating == nil %>
			<h3><%= tutor.name %> &nbsp &nbsp &nbsp &nbsp answered question on <%= answer.created_at %>. &nbsp &nbsp &nbsp &nbsp  <span class="badge badge-warning">Unrated</span></h3>
		<% else %>
			<h3><%= tutor.name %> answered question on <%= answer.created_at %>. Your rating: <%= answer.rating %> </h3>
		<% end %>

		<div>
			<p><%= answer.content %></p>

			<p>
				<% if answer.rating == nil %>
					<%= simple_form_for(answer) do |f| %>
					<%#= simple_form_for(@rating) do |f| %>
	  				<%= render 'shared/error_messages', object: f.object %>
						<%= f.input :rating, collection: @ratings, as: :radio %>
						<%= f.input :student_id, as: :hidden, :input_html => { :value => params[:student_id] } %>
						<%= f.input :tutor_id, as: :hidden, :input_html => { :value => tutorid } %>
						<%= f.input :answer_id, as: :hidden, :input_html => { :value => answerid } %>
						<%= f.button :submit,"RATE ANSWER" %>
					<% end %>

				<% else %>
					<p> Thanks for rating this answer! </p>
				<% end %>
			
			<%= link_to "Book #{tutor.name} now!", bookings_booking_path(current_student, tutorid) %>		

				<p>
					<% comments = Comment.find(:all, :conditions => ['answer_id =?', answerid]) %>

					<% for c in comments %>
						<% if c.student_sent? %>
							<p>
								<br><strong>You: </strong><%= c.content %></br>
								<br><strong>Posted at:</strong> <%= c.created_at %></br>
							</p>
						<% else %>
							<p>
								<br><strong><%= link_to "#{tutor.name}", bookings_booking_path(current_student, tutorid) %>:</strong> <%= c.content %></br>
								<br><strong>Posted at: </strong><%= c.created_at %></br>
							</p>
						<% end %>
					<% end %>
				
				</p>


			<p> 
					<%# @comment = current_student.comments.build if student_signed_in? %>
					<%= simple_form_for(@comment) do |f| %>
						<%= f.input :content, as: :text, placeholder: "Follow up question or comment?", input_html: {style: 'height:100px; width:500px;'} %>
						<%= f.input :answer_id, as: :hidden, :input_html => { :value => answerid} %>
						<%= f.input :tutor_id, as: :hidden, :input_html => { :value => tutorid} %>
						<%= f.input :student_sent, as: :hidden, :input_html => { :value => 1} %>
						<%= f.button :submit, "Send comment" %>
					<% end %>	
				</p>
				

			</p>
		</div>
	</div>
<% end %>

<% else %>
<p> No one has answered your question yet. </p>
<% end %>

