<h1> Admin home </h1>

<p>Number of students on site: <%= @students.count %></p>
<p>Number of tutors on site: <%= @tutors.count %></p>

<p>Number of bookings requested: <%= @bookings.count %></p>

<p>Number of questions asked: <%= @questions.count %></p>
<p>Number of answers on site: <%= @answers.count %></p>