<h1> <%= @students.name %>'s INBOX </h1>
<% if @open_questions.any? %>
	<h2>
		<%= button_to "Close all questions",close_all_questions_button_path, :confirm => "Are you sure you want to close all questions? By doing this no questions will be visible to tutors.", class: "btn btn-warning" %>
	</h2>
<% else %>
	<p>
		All questions are currently closed but you can still rate the ones that are still unrated.
	</p>
<% end %>
<table id = "inbox_question_list", class="display">
	<thead>
		<tr>
			<th>Subject</th>
			<th>Open or closed?</th>
			<th>Comments?</th>
			<th>Rated?</th>
			<th>Course</th>
			<th>Date asked</th>
			<th>Number of Answers</th>
		</tr>
	</thead>

<tbody>
<% @questions.each do |question| %>
	<% answers = Answer.find(:all, :conditions => ['question_id = ?', question]) %>
	<% rated_answers = answers.collect(&:rating) %>
	<% counter = 0 %>
	<% for rating in rated_answers %>
		<% if rating.blank? %>
			<% counter = counter + 1 %>
		<% end %>
	<% end %>

	<tr>
		<td>
			<%= link_to question.subject, questions_qna_path(question.id, current_student) %> 

		</td>
		<td>
			<% if question.open? %>
				<p class="text-success">Open</p> 
					<%= simple_form_for(question) do |f| %>
						<%= f.input :open, as: :hidden, :input_html => { :value => false } %>
						<div class="close_question_button">
							<%= f.button :submit,"Close Q", :confirm => "Are you sure you want to close the question? By doing so, tutors can no longer answer this question."%>
						</div>
					<% end %>
			<% else %>
				Closed
			<% end %>
		</td>
		<td>
			<% answers = Answer.find(:all,  :conditions => {:question_id => question.id})%>
			<% answer_ids = answers.collect(&:id) %>
			<% comments = Comment.find(:all, :conditions => {:answer_id => answer_ids}) %>
			<% counter1 = 0 %>
			<% for comment in comments %>
				<% if (!comment.read? || comment.read.nil?) && !comment.student_sent? %>
					<% counter1 = counter1 + 1 %>
				<% end %>
			<% end %>
			<% if counter1.to_f > 0 %>
				<center><span class="badge badge-important">Unread Comments</span></center>
			<% end %>
		</td>
		<td>
			<%# if counter.to_f > 0 && question.open? %>
			<% if counter.to_f > 0 %>
				<center><span class="badge badge-warning">Unrated Answers</span></center>
			<% else %>
				<center><span class="badge badge-success"><i class="icon-ok icon-white"></i></span></center>
			<% end %>
		</td>
		<td><%= question.courses %> </td>
		<td><%= question.created_at %> </td>
		<td><%= answers.count %> </td>
	</tr>
<% end %>
</tbody>
</table>