<h1> <%= @students.name %>'s Work Desk </h1>
My email: <%= @students.email %>
  <p>
    Courses I'm taking:
      <% @students.courses.each do |course| %>
        <%# tutors_in_course = Tutor.find(:all, :conditions => ['courses'], course) %>
        <li> <%= course %> <!--(tutors_in_course.count tutors)--> </li>
      <% end %>

  </p>
  
	<%= render 'shared/question_form' %>

  <!--
 	<% if @students.questions.any? %>
      <h3>Questions (<%= @students.questions.count %>)</h3>
      <ol>
        <%= render @questions %>
      </ol>
      <%= will_paginate @questions %>
    <% else %>
    	<p> NO QUESTIONS YET </p>
    <% end %>
  -->

