<h1>All Tutors</h1>

<table id = "inbox_question_list", class="display">
	<thead>
		<tr>
			<th>Tutor Name</th>
			<th>Courses</th>
			<th>Rating</th>
			<th>Level</th>
			<th>Success Percentage</th>
			<th> </th>
		</tr>
	</thead>

<tbody>
<% @tutors.each do |tutor| %>
	<tr>
		<td><%= link_to tutor.name.capitalize, tutors_profile_path(tutor) %> </td>
		<td><% tutor.courses.each do |course| %> 
			<li><%= course %></li>
			<% end %>
		</td>
		<td> 	<% if tutor.rating == nil %>
  					(No ratings yet)
  				<% else %>
  					<%= tutor.rating %>
  				<% end %>
		</td>
		<td>
			<% if tutor.rating.to_i >= 31 %>
				Advanced
			<% elsif tutor.rating.to_i >= 11 && tutor.rating.to_i <= 30 %>
				Novice
			<% elsif tutor.rating.to_i <= 10 %>
				Rookie
			<% end %>

		</td>
		<td>
			<% if tutor.rating_percentage == nil %>
				(No ratings yet)
			<% else %>
				<%= number_to_percentage(tutor.rating_percentage.to_f * 100, precision: 0) %>
			<% end %>
		</td>
		<td><%= link_to "BOOK ME!", bookings_booking_path(current_student, tutor.id) %></td>

	</tr>
<% end %>
</tbody>
</table>