<div class = "tutor_home">
<h1> <%= @tutors.name %>'s Office</h1>
<% if @tutors.rating == nil %>
	<h3> No one has rated any of your answers yet </h3>
<% else %>
	<h2>Rating: <%= @tutors.rating %></h2>
	<h2>Level: <%= @level %></h2>
	<h2>Average: <%= number_to_percentage(@tutors.rating_percentage.to_f * 100, precision: 0) %></h2>
	<!-- This rating percentage is also used in the tutors index -->
<% end %>

    See Questions for:
    <% current_tutor.courses.each do |course| %>
      <li> <%= link_to course, questions_courses_path(course) %> </li>
    <% end %>
</div>