<h1>Answer Page</h1>

<% if !@answers.any? %>
	<p> No questions answered yet </p>
<% else %>

<table id = "inbox_question_list", class="display">
<thead>
		<tr>
			<th>Subject</th>
			<th>Your Answer</th>
			<th>Date Answered</th>
			<th>New Comments?</th>
			<th>Number of Comments</th>
		</tr>
	</thead>

<tbody>
<% for answer in @answers %>
<% qid = answer.question_id %>
<% question = Question.find_by_id(qid) %>
<% comments = Comment.find(:all, :conditions => {:answer_id=>answer.id}) %>
	<tr>
		<td><%= link_to question.subject, specific_answer_path(answer.id, current_tutor, qid) %> </td>
		<td><%= truncate(answer.content) %> </td>
		<td><%= answer.created_at.strftime("%I:%M %p") %> on <%= answer.created_at.strftime("%d %b. %Y") %> </td>
		<td>
			<% counter = 0 %>
			<% for comment in comments %>
				<% if (!comment.read? || comment.read.nil?) && comment.student_sent? %>
					<% counter = counter + 1 %>
				<% end %>
			<% end %>
			<% if counter.to_f > 0 %>
				<center><span class="badge badge-important">Unread Comments</span></center>
			<% end %>
		</td>

		<td><%= comments.count %></td>
	</tr>
<% end %>
</tbody>
</table>

	<%# for answer in @answers %>
		<li><%#= answer.content %></li>
	<%# end %>

<% end %>