<h2>Forgot your password?</h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.error_notification %>
 <div class="row">
  <div class="span6 offset1">
    <%= f.input :email, :required => true, :autofocus => true %>
  
    <%= f.button :submit, "Send me reset password instructions", class: "btn btn-large btn-primary" %>
  </div>
</div>
<% end %>

<%= render "tutors/shared/links" %>
